[2016-08-05 19:34] ghost opened #2 "Create Assignments"
First I would like to say these scripts are great!!  Thanks you!

I would like to request to be able to designate the workerId in this script.  I have around 350 dumpsters assignments each day and need to assign them to the proper truck or worker.  This will prevent the dispatcher from having to manually assign them to the proper worker each day.

Thanks

Tred

[2016-08-08 16:11] ghost commented on #2
I figured it out.  Since I did not need the workOrderID field I changed everything that had  workOrderID to workerId in the create assignments script.  Then I changed the Status to 1 on line 70.

[2016-08-08 17:56] crai3162 commented on #2
@tredriggs thanks for the comments, we're glad to hear the scripts are useful.

You've figured it out correctly; to assign work you need to set the WorkerID to the ObjectID from the Workers feature service and set the Status to 1.  You  should also set the assignedDate field.

We're working on updates to our doc that will also document this workflow; those should be online within the week.

[2016-12-01 21:51] ming800 opened #3 "Export to CSV file"
Because I am very new to Python and do not want to mess up the AGOL data, I am just trying to export the online assignments to CSV file. However, I got a error message as the following:
========================================================
Python 2.7.10 (default, May 23 2015, 09:44:00) [MSC v.1500 64 bit (AMD64)] on win32
Type "copyright", "credits" or "license()" for more information.

Traceba

[2016-12-02 03:31] apulverizer commented on #3
Hi Ming,

It seems like you're doing everything correctly. The error message indicates that you are missing a 3rd Party library called requests.

Requests is [bundled](https://github.com/Esri/workforce-scripts/tree/master/requests) with this repo so it shouldn't be an issue. I'm not sure why it's not finding it. I was able to reproduce your issue, I'll look into it.

Anyway, to immediately resolve

[2016-12-15 11:26] nart-t opened #5 "Create assignments - workOrderIdField & locationField"
Scripts work great and are very useful, but I'm a bit unclear on two things on the assignment creation script:

1.  It seems the script tries to enforce the workOrderIdField being an integer. Why is that? The Assignments schema in a Workforce project seems to have the workOrderId field as text. This is actually a bit of a blocker since those IDs might originate from other systems, and in my case t

[2016-12-20 15:12] ming800 commented on #5
Same issue here, my workOrderId is a string data.  Thanks for the tip.

In addition, the dispatcherId should be a integer instead of string. After adding the int() in line 78, it work fine now.

Thanks for the great tool!

Ming

[2016-12-20 15:18] ming800 commented on #5
Why is the locationField required?
Location field is very useful for many situations.  The XY or Lat/Lon are just numbers. It is difficult for none GIS/geographer person to reference the numbers to a location in real world. We use the tool for water utility work orders. The location field is used to store a FacilityID, such as ID/Ma,e for a pump station or valve, an accountNumber for meter repair,

[2016-12-23 15:33] ming800 commented on #5
After reading the codes, realize that the dispatcherID is intended for a string name of the dispatcher. The code will looking for the oid for the matching name.

Ming

[2017-01-03 19:37] crai3162 commented on #5
@nart-t thanks for your comments on the scripts:
1. this was an oversight in the script; WorkOrderID can be either int or string; we'll get this clarified.
2. @ming800 provided a great reply on why we require locationField to be set; in the case where you only need to use X/Y coordinates. you can enter those as the locationField, that is what the Workforce web app does when the reverse geocode doe

[2017-02-22 15:22] apulverizer commented on #3
Closing this as we have added a requirements.txt file.

You can now use `pip` to install the dependencies since they are hosted on [PyPi](https://pypi.python.org/pypi).

If you are using Windows with ArcMap installed, the `pip` executable is generally located in `C:\Python27\ArcGIS10.X\Scripts\`. So you many need to run `C:\Python27\ArcGIS10.X\Scripts\pip.exe install -r requirements.txt` if you ha

[2017-02-22 15:22] #3 closed, assigned to nobody

[2017-02-22 15:27] apulverizer commented on #5
The scripts have been updated so that it does not cast workOrderId to an integer and so that it does cast dispatcherId to integer.

I'm closing this as it should be solved, but feel free to re-open if these changes did not address your issue.

[2017-02-22 15:27] #5 closed, assigned to nobody

[2017-02-22 15:28] apulverizer commented on #2
Closing this as the issue has been resolved.

[2017-02-22 15:28] #2 closed, assigned to nobody

[2017-04-12 19:53] brianjbaldwin opened #8 "Create Assignment from Existing Feature Service"
I am looking for a script to take an existing FS and then map the fields to an existing Assignments FS to generate new assignments.  I assumed the copy_assignments_fs was exactly this, but I had the logic backwards.

This would be really useful in the gas space, where users may have overlapping areas that need to be managed by different types of assignments.  While the batch assignment tool works

[2017-05-10 14:05] hmelendez opened #9 "Support none ASCII characters in create_assignments from csv."
My Description field has none ascii characters (á,é,í,ó,ú). The arcgis_api create_assignments_from_csv python creats the assignments but the Description filed scribles the words with does none ascii characters. I've atached a sample.
[my_assignments.txt](https://github.com/Esri/workforce-scripts/files/989993/my_assignments.txt)

[2017-05-10 15:27] apulverizer commented on #9
Hi @hmelendez

I cannot open the text file in python (defaults to UTF-8 encoding); it seems to be in a different encoding than UTF-8? Do you what encoding it is in?

I added some non-ascii characters to a UTF-8 encoded CSV file and was able to create the assignments as expected. I cannot reproduce your issue.

## My simple csv
[code]

## Output on workforce app:
<img width="463" alt="screen shot 2

[2017-05-10 15:31] MikeMillerGIS commented on #9
In other scripts/apps, I load files using iso-8859-1 and it load acute characters.

[2017-05-10 15:52] apulverizer commented on #9
Thanks @MikeMillerGIS that worked.

@hmelendez I was able to import your text file of assignments by doing:

[code]

Then in workforce they seem correct:
<img width="600" alt="screen shot 2017-05-10 at 11 47 35 am" src="https://cloud.githubusercontent.com/assets/2099642/25907860/ac55a5fa-3576-11e7-9c96-93fbe1261500.png">

Does that look correct? It seems to match the txt file you provided. Can you

[2017-05-10 16:28] hmelendez commented on #9
I added the enconding in line 93 but the error persists. Here is the screen capture and the csv.
![capture](https://cloud.githubusercontent.com/assets/4551911/25909678/eb326470-357b-11e7-80ed-4b13e2bfb56a.PNG)

[today_assignments.txt](https://github.com/Esri/workforce-scripts/files/990528/today_assignments.txt)

![capture2](https://cloud.githubusercontent.com/assets/4551911/25909722/11d82862-357c-

[2017-05-11 13:34] apulverizer commented on #9
@hmelendez

Okay so I looked into this a bit more.

The first file you provided appears to be encoded as ANSI (at least that's what notepad++ sniffed from it) so you should probably use `iso-8859-1` as the encoding. This will read the the CSV you provided properly and render properly as shown in my first comment.

The second file you provided appears to be encoded as UTF-8 (at least that's what no

[2017-06-07 14:59] cpsmhammond opened #10 "Upload multiple attachments"
Hi,

is it possible to allow for uploading of multiple attachments with the create assignments from csv script?

[2017-06-09 16:22] apulverizer commented on #10
Currently that is not possible. However, if you want to do that you could use some sort of delimiter in the attachments column to list multiple files. The script could then be modified to parse multiple attachments.

Something like the following, which uses a `;` to delimit the attachment file paths.

[code]

Then update the `get_assignments_from_csv` method accordingly.

[2017-06-10 09:23] jonathangroves commented on #9
Hi.

I'm using export_assignments_to_csv and suddenly started getting the below - any advice appreciated.

I can't find the character reported anywhere in my Assignments (was expecting it to be in Notes left by Workers but, alas not).

Thanks in advance!

Jonathan

[2017-06-10 09:14:48,319] [  export_assignments_to_csv.py: 115 -                           main()]         [MainThread] [      root] [

[2017-06-22 19:04] cpsmhammond commented on #10
great idea.  i got it modified and it is working perfectly using the extra delimiter in the attachment field.

thanks!

[2017-07-21 16:12] hmelendez opened #11 "create_assignments_from_csv fails in ArcGIS Enterprise."
I'm migrating my workforce to ArcGIS Enterprise and the workforce hosted feature layer schema in portal gets created with all atrubutes names in small caps (assignmentType || assignmenttype). So the script is not matching and loading the csv fields correctly. The assignments get created but the fallowing fields are not been populated:

- dueDate
- assignmentType
- workOrderId
- workerId
Here is th

[2017-07-21 16:17] crai3162 commented on #11
Hi @hmelendez we're aware of this and working to update the scripts now that Workforce supports Enterprise 10.5.1.

[2017-08-31 19:58] jswagger commented on #8
This would be extremely helpful for my workflows as well. Right now I have to run the create_assignments_from_csv.py, and it takes forever to process (5,000 assignments). Being able to publish a feature service, then point Workforce at that service, or copy records over to the assignments service would be great.

[2017-09-20 15:31] apulverizer commented on #11
@hmelendez I added a few commits which should add portal support for all scripts, if using the Python API. Let me know if this does not resolve your issue.

[2017-10-12 15:12] ming800 commented on #11
Hi Aaron,

I noticed that the attachments of assignment can be imported to WF in your Create Assignment scripts.  Can the attachments of assignment be downloaded when export assignments to desktop? I heard that WF is going to add the function to allow workers to ass attachments in the field. Download attachments into a local folder and add the filepath to the each assignment will be great!

Enjoye

[2017-11-05 03:29] jmdye opened #13 "create_assignments_from_csv.py fails with import error"
create_assignments_from_csv imports the arrow module, which is not part of the standard distribution. Further, I tried to pip install arrow on both a Mac and Windows machine only to end up with pip failing with error message ```Could not find a version that satisfied the requirement arrow (from versions: ). No matching distribution found for arrow```

[2017-11-05 04:20] apulverizer commented on #13
What version of Python are you using? Are you using conda, or any conda environments?

I can pip install arrow for Python 3.6 and Python 2.7 on my Mac.

[2017-11-05 04:37] jmdye commented on #13
nvm. It installed fine a few minutes ago. Maybe it was an issue with pypi. sorry for the false alarm.

[2017-11-05 04:37] #13 closed, assigned to nobody

[2017-11-06 14:08] jmdye opened #14 "Add option to set Requests verify=False and disable insecure connection warnings"
I needed to modify the Workforce Helpers script as follows for use behind my corporate firewall:
[code]

[2017-11-06 14:10] jmdye opened #15 "Add Documentation on configuring HTTP Proxy for use with Requests"
Might be good to add information on configuring  HTTP and HTTPS Proxy environment variables. If someone is using these scripts behind a corporate firewall and trying to connect to AGOL, they're probably going to need to configure those environment variables.

[2017-11-06 14:13] jmdye opened #16 "Update import_workers.py to allow importing Dispatchers as well"
Would be useful if ```import_workers.py``` could also be used to add Dispatchers as well. I'd suggest changing the name of the script to ```import_users.py``` (breaking change?) and adding a userRole field where the value could be either ```worker``` or ```dispatcher```.

Maybe this is already possible and I just missed the documentation on it

[2017-11-06 15:23] crai3162 commented on #16
Hi @jmdye, this is something we discussed, but decided not to go in that direction as Workers is primary case where importing is needed due to the number of workers.

Are you asking for a script to import dispatchers for completeness?  Or, do you have a large number of dispatchers to add where performing this manually would cause an issue.

thanks for the feedback.

[2017-11-06 18:12] jmdye commented on #16
Dozens of projects, different dispatchers for each. Easy but tedious to go into each project and manually add dispatchers.

Lack of import_dispatchers capability also makes it impossible to build a soup-to-nuts workflow for creating new projects. For instance, if your assignmentsCSV uses the ```-dispatcherIdField```, you then have to pause before running ```create_assignments_from_csv``` so that y

[2017-11-06 21:21] crai3162 commented on #16
Hi @jmdye all good points, thanks for taking the time to add them.

We'll take a look at adding a script or updating the existing script to do this, for simplicity, we'll probably look at creating a new script specifically for Dispatchers.

[2017-11-07 00:04] jmdye commented on #16
cool. whatever works best. thanks for considering it. One thing I'd call out - I think I saw some logic in one of the scripts to ensure workers are unique and aren't added to the project more than once. (maybe I was hallucinating, I don't recall specifically where I think I saw it). In any case, we usually allow our Dispatchers to also have the Worker role so that they can use the mobile app to se

[2017-11-07 00:39] jmdye opened #17 "import_workers should throw an error if workerId is not valid"
Stumbled across this out of blatant user error. I had a typo in one of my workerId values in my CSV. I was able to execute ```import_workers.py``` against that CSV without any errors or warnings.

When I executed ```create_assignments_from_csv.py```, it threw an error when it tried to give assignments to the invalid workerId.

Clearly there is some user error here but, when you're creating thousan

[2017-11-21 20:07] apulverizer commented on #17
Hi @jmdye,

Currently the import_workers script does detect invalid workers (usernames that are not in your org). It logs a warning message about this but does not stop the script.

See lines: https://github.com/Esri/workforce-scripts/blob/master/arcgis_api_for_python/import_workers.py#L130

Are you suggesting we first parse the csv and detect that all users are valid, then import all the workers.

[2017-11-21 20:15] apulverizer commented on #14
We're somewhat deprecating the standalone and arcrest scripts in favor of using the Python API For ArcGIS.

In these scripts we default to ignore the certificates (which should resolve this): https://github.com/Esri/workforce-scripts/blob/master/arcgis_api_for_python/import_workers.py#L107

Perhaps we should default to verifying the certificate (for security) but provide a command-line option such

[2017-11-21 20:20] apulverizer commented on #15
This is a good idea. Do you have any examples you'd like to share?

It looks like we just need to expose some command-line arguments for `poxy_host` and `poxy_port` as shown in the [Python API Doc](https://esri.github.io/arcgis-python-api/apidoc/html/arcgis.gis.toc.html#gis ).

[2017-11-21 20:23] apulverizer commented on #11
@ming800

I think this is something we could look into. So just to be clear, you'd like to download a CSV file and have one of the columns be the attachment files that were downloaded. And then download the attachments to a specific folder.

[2017-11-21 20:46] jmdye commented on #17
Yes. My suggestion is to throw a fatal error and exit the script without importing any workers. Reason being that if your workers csv contains invalid workers, your assignments csv probably does as well. However, if your assignments csv contains an invalid worker for an assignment, then a fatal error is thrown there meaning you can get through a ton of assignments only to have to start over again

[2017-11-21 20:54] jmdye commented on #14
I like that approach, can we add another to disable displaying SSL warnings (```urllib3.disable_warnings(InsecureRequestWarning```)? Those two kind of go hand-in-hand.

Perhaps something like ```--verify false --showSSLWarnings false```

Noticed you guys were deprecating the standalone scripts. Have to say I'm a little disappointed by that. I like the ability to just download the scripts and run t

[2017-11-30 18:12] ming800 commented on #11
Hi Aaron,

Sorry for the delay of reply, it is that season!

Yes, we like to be able to download attachments along with the completed assignments for archive and analysis purposes. The attachments are preferred to store in a separate folder instead of stored as blob in ….__ATTACH table.

In fact, we need to do this very often. We have a number the active WF projects in AGOL. Some of them created i

[2017-12-11 18:59] apulverizer commented on #17
See PR #18 let me know what you think when you have a chance.

[2017-12-11 19:01] apulverizer commented on #14
See PR #18 let me know what you think when you have a chance.
The Python API does not use requests or urllib3 we don't need `--showSSLWarnings` flag.

And yeah I can see how having the standalone scripts is easier in some cases. It's just too much effort to maintain 2 or 3 versions of the scripts, and the Python API handles a lof the authentication issues and edge cases pretty well.

[2017-12-29 23:38] GISjaclyn opened #19 "Send notifications to "workers" via email/text"
It would be very helpful if Workers could receive notifications _outside_ of the application when new work is assigned to them. For a small organization where field workers aren't constantly interfacing with Esri apps, this type of function is near essential to help draw traffic to the Workforce application and complete critical work.

[2018-01-17 14:16] kcarrier commented on #8
Add City of Hamilton, OH to the list. We would like to be able to pass multiple fields from a feature layer to the assignments layer and then from the assignments layer to Survey123. This would essentially give us a trail back to the original feature allowing us to generate comprehensive reports and linking all the data together.

[2018-01-17 14:28] kcarrier opened #20 "Matching Fields Assignments and Feature Layer"
In a perfect world it would be great if there were matching fields between the assignments and feature layer that the field values would come over when the assignment is created as part of the GUI in workforce. If not a simple script to update matching fields between a feature layer and the corresponding assignment would be nice. I am wondering why there is not a relationship built between assignm

[2018-01-17 14:36] apulverizer commented on #20
Yeah I saw your comment on #8

I think we can do something similar to https://github.com/Esri/workforce-scripts/blob/master/arcgis_api_for_python/copy_assignments_fs.py

That example copies the assignments to a different feature layer (for archiving primarily). We could definitely go the other way around as well I think. In that example, a json file defines the field mappings between the two servi

[2018-01-17 14:40] kcarrier commented on #20
Thank you for the prompt response. We re-read the other post and were not entirely sure it was the same thing so we started another issue in the hope we could better define the issue we are facing. We like the idea of archiving but in our case it just did not meet the business need. If you want a beta-tester just say the word. We really feel this functionality would be useful for a wide variety of

[2018-02-14 10:57] jonathancgroves opened #21 "create_assignments_from_csv xField label corruption issue"
I'm using create_assignments_from_csv.py to upload assignments into Enterprise Workforce.
(NB I have not before tried to get this working since my Customer migrated from AGOL (where it worked fine)).
I call the script from a bash script, which passes the right parameters.
I get this error on the end of my output:
`args.dateFormat, args.wkid, args.attachmentFileField, args.workerField, args.timezon

[2018-02-14 11:07] jonathancgroves commented on #21
After Googling, I realise this is a UTF 8 Byte Order Mark (see here: [https://en.wikipedia.org/wiki/Byte_order_mark#UTF-8](url)) but I have no idea how it got here.

Jonathan

[2018-02-14 13:28] apulverizer commented on #21
It sounds like your issue is resolved, correct?

[2018-02-14 13:36] jonathancgroves commented on #21
Thanks for the speed reply. No, it's not resolved. The BOM is clearly causing the Python script to fail with the keyerror - I don't know where the BOM is coming from though...

[2018-02-14 13:48] apulverizer commented on #21
Okay let me see if I can reproduce with my own bash script and project

[2018-02-14 17:40] apulverizer commented on #21
Okay so I can reproduce what you are seeing when I do it the way you are creating the bash variables and passing them to the script.

I made a sample script (omitted extra params for brevity) that works:

[code]

Can you try this?

[2018-02-14 17:59] apulverizer commented on #11
I am closing this as the initial issue was resolved.

@ming800 I think your idea for downloading the attachments is outside the scope of these scripts right now. That said, if you implement this, feel free to submit a PR.

[2018-02-14 17:59] #11 closed, assigned to nobody

[2018-02-14 18:37] #10 closed, assigned to nobody

[2018-02-14 18:42] apulverizer commented on #9
Closing.

The scripts assume UTF-8 encoding of CSV files. If your csv files use a different encoding then you need to specify that in the script.

[2018-02-14 18:42] #9 closed, assigned to nobody

[2018-02-15 11:14] jonathancgroves commented on #21
Thanks, Aaron.
I don't understand the `source activate arcgis3.6` line, I don't do this...
With the other changes my complete command looked like this (redacted):
`sudo python create_assignments_from_csv.py -csvFile "./inputfile.csv" -u "xxx" -p "xxx" -url "https://webgis.xxx.com/arcgis" -pid "xxx" -xField "xField test" -yField "yField" -assignmentTypeField "Type" -locationField "Location" -descri

[2018-02-15 13:46] apulverizer commented on #21
The `source activate arcgis3.6` is just activating a conda virtual environment that has the Python API for ArcGIS installed. It shouldn't affect anything.

I cannot reproduce the issue you see. I copied the commands above and substituted in my fields and works as expected.

Even in the above case when you hard-coded it you are seeing the issue with `xField`?

[2018-02-15 14:06] jonathancgroves commented on #21
Oh, thanks. I don't use a virtualenv because I have a dedicated machine.
Yes - I see the same result with the value hard-coded.
But you saw it before, right?
This is going to cause us massive problems, I can't upload the hundreds of Assignments we need for this summer.
Any suggestions gratefully received.

[2018-02-15 14:23] apulverizer commented on #21
I could reproduce the initial issue which I think was due to how you are setting the `xField` bash variable. But using the sample script [here](https://github.com/Esri/workforce-scripts/issues/21#issuecomment-365686429) I cannot reproduce it anymore.

I have not seen the error outside of that.

What machine are you running it on? Are you using any other tools in the pipeline, like Jenkins or somet

[2018-02-15 15:55] jonathancgroves commented on #21
Thanks Aaron.
It's a dedicated headless Raspberry Pi Model 3 - running Debian 4.9.35. Python 2.7, running the ArcGIS Workforce standalone scripts downloaded from this GitHub repo. Nothing exotic in the pipeline. This worked perfectly last year when the Customer was using AGOL - they just moved to an Enterprise on-prem solution earlier this year and I've been working hard to jump through the hoops

[2018-02-19 07:52] jonathancgroves commented on #21
Aaron, problem solved (thanks so much).
I realised that the extra character was at the very start of my input file, where the column headings are shown. The first column heading was 'xField' and this had somehow picked up this hidden character at the start in editing on my Mac or Windows machine and was invisible on Linux. I did try retyping the `xField` string/parameter when you suggested it but

[2018-02-19 07:52] #21 closed, assigned to nobody

[2018-02-19 09:02] jonathancgroves opened #22 "Standalone Scripts - dispatcherId is not optional"
The readme for the standalone create_assignments_from_csv.py script states:

Omitting the integer dispatcherId value in the input csv file causes this error:

`[2018-02-19 08:56:08,973] [create_assignments_from_csv.py: 352 -  <module>()]
 [MainThread] [      root] [CRITICAL] Traceback (most recent call last): |   File "create_assignments_from_csv.py", line 348, in <module> |     main(args) |   Fil

[2018-02-19 13:03] jonathancgroves opened #23 "Standalone scripts - create_assignments_from_csv.py - Assignment Type field name"
Enabling and inspection of the logger output from the above script reveals that the Assignment Type domain is defined in the feature layer (NB this is Enterprise Workforce) as follows:
`		'domain': {
			'codedValues': [{
				'code': 1, 'name': 'Urban cut'
			}, {
				'code': 2, 'name': 'Rural cut'
			}], 		'type': 'codedValue', 'name': 'assignments_42e8961a29c44340b914a69737817f41_ASSIGN_TYPE'
		}

[2018-02-19 13:10] jonathancgroves opened #24 "Standalone Scripts - create_assignments_from_csv.py - OBJECTID references fail"
Whilst it appears that `objectid` fields are aliased as `OBJECTID` in the feature layer (although navigating this is somewhat challenging!) I have been unable to get the above Python script to run unless I replace all instances of `OBJECTID` with `objectid`.
This seemed to work fine with AGOL-based Workforce, I believe it may be a change introduced for Enterprise Workforce.
Hope this helps.

Jonat

[2018-02-20 13:27] apulverizer commented on #23
This is a difference between Enterprise and AGOL (well really the backing databases). The scripts that use the Python API for ArcGIS handle the differences between the two correctly.

We are essentially deprecating the scripts that use ArcREST and vanilla python in favor of using the Python API.

The Python API team recently added the API to PIP (which might be necessary since I don't think there

[2018-02-20 13:28] apulverizer commented on #24
Same issue as as https://github.com/Esri/workforce-scripts/issues/23

[2018-02-20 13:46] apulverizer commented on #22
I can reproduce this. The parameter was meant to be optional when calling the script.
If `-dispatcherIdField` was supplied it was assumed that all assignments would have a dispatcherId in the CSV file. I see how that could be confusing based on the readme.

I can add a check to ensure there is a dispatcherId value there, if not, then it will use the signed in user as the dispatcher. This change wi

[2018-02-20 18:46] apulverizer commented on #22
I pushed a fix for this (Python API only).

[2018-02-20 19:13] apulverizer commented on #17
Merged the PR. Closing.

[2018-02-20 19:13] #17 closed, assigned to nobody

[2018-02-20 19:13] apulverizer commented on #14
Merged PR.

[2018-02-20 19:13] #14 closed, assigned to nobody

[2018-02-26 11:35] jonathancgroves commented on #24
Noted - I'm closing as this adds no value., Thanks.

[2018-02-26 11:35] #24 closed, assigned to nobody

[2018-02-26 11:38] jonathancgroves commented on #23
Bit of a bombshell there - so I need to both use the Python API and use Python 3.x instead of 2.7.1.
I'll have to wait and see if the Client will pay for this extra work.
Thanks for taking the time to look into this.

[2018-02-26 11:38] #23 closed, assigned to nobody

[2018-02-26 11:39] jonathancgroves commented on #22
Noted - thanks. See my other comment re your dropping the standalone scripts, but this particular issue is clearly now closed. Thanks for your help.

[2018-02-26 11:39] #22 closed, assigned to nobody

[2018-02-26 13:35] apulverizer commented on #23
You are free to use/fork the standalone scripts, we just aren't going to update them anymore. Python 2.7.X is going to be sunsetted in 2020 so it'd be advisable to start moving to Python 3.X.

[2018-03-09 06:35] apulverizer commented on #19
@GISjaclyn This is somewhat out of the scope of these example scripts as it is fairly custom behavior.

One possible solution would be to do something similar to the [Assignment Monitor](https://github.com/Esri/workforce-scripts/blob/master/assignment_monitor.md) script. The provided example script polls the assignment feature service to find newly completed assignment and then posts a message to

[2018-04-18 21:56] Murkor opened #25 "Mr"
there is not delete_assignment_types.py, instead create_assignment_types.py appears twice

[2018-04-18 21:58] Murkor commented on #25
![wf1](https://user-images.githubusercontent.com/5073895/38960349-82fd6968-433a-11e8-8f01-43b9e32e9b20.PNG)

[2018-04-18 21:58] #25 closed, assigned to nobody

[2018-04-26 18:10] Murkor opened #26 "ASSIGNMENT MONITOR"
WHERE I CAN GET AN CONFIG.INI FILE FOR THE ASSIGNMENT_MONITOR PROGRAM

[2018-04-26 18:12] apulverizer commented on #26
https://github.com/Esri/workforce-scripts/blob/master/arcgis_api_for_python/assignment_monitor/config.ini

Add your info to it and it should "just work".

[2018-04-26 19:08] Murkor commented on #26
Thanks I tried with
# workforce/agol project id
[WORKFORCE]
PROJECT = 80a36dedd957479ab81c521f60394589

# slack webhook
[SLACK]
WEBHOOK = https://hooks.slack.com/services/esripro_hook

# AGOL auth info
[AGOL]
ORG = https://esripro.maps.arcgis.com
USERNAME = my_username
PASSWORD = my_password

# log file
[LOG]
LOGFILE = log.txt

[DB]
DATABASE = assignments.db

And start working properly , no error

[2018-04-26 19:13] Murkor commented on #26
ah ... delete_assignments_type.py is missing

[2018-04-26 19:27] apulverizer commented on #26
Yeah it was a typo in the readme, just fixed it.

[2018-04-26 19:53] Murkor commented on #26
thanks again...

[2018-04-26 19:53] #26 closed, assigned to nobody

[2018-05-07 20:39] apulverizer commented on #16
We added a new script that does this.
https://github.com/Esri/workforce-scripts/blob/master/scripts/import_dispatchers.py

Closing.

[2018-05-07 20:39] #16 closed, assigned to nobody

[2018-05-07 20:42] apulverizer commented on #15
After more thought, I don't think this is something we need to expose (we already have so many arguments). All of the new scripts are tightly integrated with the Python API which as documented how to configure a proxy, any script could be modified for a specific environment. Closing.

[2018-05-07 20:42] #15 closed, assigned to nobody

[2018-05-07 20:45] apulverizer commented on #19
There are couple solutions for this (which are out of scope for this repo):
1. Modify the assignment monitor script to send an email instead of posting to Slack. Run this on a server with a schedule or as a cloud/lambda function on AWS/Azure/Google Cloud
2. Leverage GeoEvent to process new assignments and send emails

Closing.

[2018-05-07 20:45] #19 closed, assigned to nobody

[2018-05-31 16:53] billwie opened #28 "after installing get "ImportError: no module named arrow""
I've followed the directions to install the tools using pip and when i attempt to run "create_assignments_from_csv" i receive "ImportError: no module named arrow". ArcGIS Pro 2.1.3 with ArcGIS Rest API installed.

[2018-05-31 17:02] apulverizer commented on #28
@billwie When you ran `pip install -r requirement.txt` did you have the correct Python Environment activated?

Either way, you should be able to run `pip install arrow` to install the arrow dependency.
I cannot reproduce using a fresh conda environment.

[2018-05-31 20:23] billwie commented on #28
Definitely running the ArcGIS Pro Python environment. I used the start menu link for "python command prompt" installed with Pro and the command line is prefixed with "(arcgispro-py3)"

Running pip install arrow resulted in three lines which read "Requirement Already satisfied"

I tried uninstalling 'arrow' and re-installing it with no change in my script. Next I'll try this on another machine to s

[2018-05-31 21:03] apulverizer commented on #28
I can't reproduce your issue.

Can you try running `python C:\Dat
a\FaresWorkforce\workforce-scripts-master\scripts\create_assignments_from_csv.py <all the other params>` in the `(arcgispro-py3)` environment.

You are just directly running the script. I wonder if you have Windows configured to run `.py` files with a specific python interpreter, which then ignores the interpreter that is activated.

[2018-06-01 14:05] billwie commented on #28
Thanks this worked. the issue was that i was not including the "python" at the beginning and the system was using the wrong interpreter.

[2018-06-01 14:05] #28 closed, assigned to nobody

[2018-06-01 14:06] billwie opened #29 "FYI using "Work Order ID" with spaces results in error."
oops, adding details.

I'm using the Create Assignments From CSV tool and if i name my CSV field "Work Order ID" i get an error:
[MainThread] [      root] [CRITICAL] Traceback (most recent call last): |   File "C:\Data\FaresWorkforce\workforce-scripts-master\scripts\create_assignments_from_csv.py", line 215, in <module> |     main(args) |   File "C:\Data\FaresWorkforce\workforce-scripts-master\scr

[2018-06-01 14:09] billwie opened #30 "Adding Carriage Returns to Description Field?"
Is anyone aware of a way to add carriage returns to a description field from the CSV using "Create Assignments From CSV"? using \n in the CSV does not work. I'm tempted to try closing the string by placing a double quote but i'm not sure how the python interpreter would read that.

[2018-06-01 14:14] billwie commented on #30
Yeah should have known that will not work. the string is treated as an object and not parsed as code itself and rightly so.

[2018-06-01 14:14] crai3162 commented on #29
@billwie the Workforce schema is documented here:
http://doc.arcgis.com/en/workforce/android-phone/help/workforce-schema.htm

That may help to avoid issues like this and ensure you're using the correct field names.

[2018-06-01 15:12] apulverizer commented on #29
@billwie

If you have different field names in your CSV file, you need to set the name using a command-line option. For example for to use `Work Order ID` you need to set `-work-order-id-field
"Work Order Id"`. Can you verify you are doing that? I cannot reproduce the issue.

[2018-07-06 19:22] apulverizer commented on #8
This will be demoed at the 2018 UC in the Integrating Workforce For ArcGIS with Other Systems (Wednesday afternoon). The notebook that will be used is hosted [here](https://github.com/Esri/workforce-scripts/blob/master/notebooks/UC_2018/integrating_workforce_demo_theatre/UC%202018%20-%203%20-%20Add%20Assignments%20From%20Existing%20Layer.ipynb)

Closing this.

[2018-07-06 19:22] #8 closed, assigned to nobody

[2018-07-06 19:24] apulverizer commented on #20
Please check out the notebooks that will be demoed at UC 2018. I think [this one](https://github.com/Esri/workforce-scripts/blob/master/notebooks/UC_2018/integrating_workforce_demo_theatre/UC%202018%20-%203%20-%20Add%20Assignments%20From%20Existing%20Layer.ipynb) is pretty close to what you describe. It creates assignments from an existing layer.

Closing this.

[2018-07-06 19:24] #20 closed, assigned to nobody

[2018-07-08 18:21] apulverizer commented on #30
If you have a multi-line CSV field, the default Python parsing seems to pick that up.

https://stackoverflow.com/questions/566052/can-you-encode-cr-lf-in-into-csv-files

test.csv
[code]

test.py
[code]

Output:
[code]

I am closing this issue as I think it address your question. If not, feel free to re-open.

[2018-07-08 18:21] #30 closed, assigned to nobody

[2018-08-27 19:46] geographicus opened #31 "delete_assignments.py - 'NoneType' object is not subscriptable"
I'm trying to run an unaltered copy of the _delete_assignments.py_ script, with the ArcGIS Pro 2.2 Python default install, and am getting the following error:

python delete_assignments_MG.py -u MYUSERNAME -p THEPASSWORD -org "https://OURORG.maps.arcgis.com" -project-id "efb4cb86b3514eefb64a9a31d6b6e329" -log-file "../logs/deletedAssignments.log" -where "1=1"
[2018-08-27 12:49:16,273] [      delet

[2018-08-28 12:56] apulverizer commented on #31
@geographicus Can you verify the project id is correct and pointing to a Workforce project and not a webmap or some other item?

[2018-08-28 14:00] geographicus commented on #31
@apulverizer - Perfect!  Thanks for pointing that out, as I was using the ID of the assignments layer.

Cheers
Mark

[2018-08-28 14:00] #31 closed, assigned to nobody

[2018-09-27 12:12] cpsmhammond opened #32 "KeyError 'globalid'"
Hey,

i'm getting and error when I run this on my enterprise install.  Copying assignments from workforce installed in portal to a feature service on the same server.  Any thoughts?  We have this working on the same layer on our previous server so I'm a bit stumped.

archived_assignments = target_fl.query(out_fields=field_mappings[project._assignment_schema.global_id]) | KeyError: 'globalid'

Than

[2018-09-27 12:40] apulverizer commented on #32
@cpsmhammond

My guess is the `field_mappings` dictionary does not have the "globalid" field. Perhaps it's "GlobalID" or "GlobalId"?

[2018-09-27 19:07] cpsmhammond commented on #32
Thanks for that quick response.. that lead me down the right track.. mostly.  I had to adjust my mappings file so every key is lowercase, but the keys below don't work no matter what case i choose.. any other ideas?

creationdate: CreationDate
Creator: Creator
EditDate: EditDate
Editor: Editor

Banging my head against the wall has not yet resulted in anything positive so I'm hopeful you can help o

[2018-09-27 19:24] apulverizer commented on #32
Ah the wonders of Enterprise :)

The actual names of those fields is different between Online and Enterprise (due to how the feature service is implemented). If you look at the layer definition for assignments (json) for the assignments layer you will see those fields are defined as:

[code]

For example, try using `created_date` instead of `CreationDate`.

This is why in the Python API we provide

[2018-09-27 19:39] cpsmhammond commented on #32
I owe you.  thank you.

[2018-09-27 23:30] cpsmhammond commented on #32
I wonder if there are more changes with Enterprise?  I'm getting a "Geometry could not be set" now on line 121.

[2018-09-28 00:37] apulverizer commented on #32
I haven't seen that error before. Do any of the assignments have missing or invalid geometries somehow?

[2018-09-28 01:04] cpsmhammond commented on #32
I got it solved, script is working.

the assignment.geometry didn't have a spatialreference, i had to add 1 line of code to update it with 4326 which is what we use.

after line 103
`assignment.geometry = dict(x=float(assignment.geometry["x"]),y=float(assignment.geometry["y"]),spatialReference=dict(wkid=int(4326)))`

Thanks

[2018-10-11 14:25] apulverizer commented on #32
Closing since this was resolved.

[2018-10-11 14:25] #32 closed, assigned to nobody

[2018-11-27 20:22] kawikakanaka opened #33 "-attachmentFileField"
**Describe the bug**
the default python example for "create_assignments_from_csv.py" has "-attachmentFileField" which should be formatted as "-attachment-file-field"

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Pytho

[2018-11-27 21:05] apulverizer commented on #33
Thanks for reporting this, I just updated the readme to fix that line.

[2018-11-27 21:28] #33 closed, assigned to nobody

[2018-11-27 21:29] apulverizer commented on #29
I'm closing this since I believe it's resolved. Feel free to re-open it if you continue to run into this issue and have a reproducible case.

[2018-11-27 21:29] #29 closed, assigned to nobody

[2018-11-27 22:04] kawikakanaka commented on #33
Cool thanks!  I need some help with running the scripts...is this the place to ask for that?

[2018-11-28 14:09] apulverizer commented on #33
If you run into an issue with a specific script then feel free to open an issue in this repo.
If you want general advice about scripting, you're probably better off posting on Geonet  under the Workforce for ArcGiS section or ArcGIS API for Python section.

You can also just email me if you want: apulver@esri.com

[2018-11-29 15:55] kawikakanaka opened #34 "Invalid Assignment Type"
**Describe the bug**
The script returns this output every time:

[2018-11-28 14:56:33,043] [create_assignments_from_csv.py:  75 -                           main()]             [MainThread] [      root] [    INFO] Authenticating...
[2018-11-28 14:56:36,363] [create_assignments_from_csv.py:  88 -                           main()]             [MainThread] [      root] [    INFO] Reading CSV file: ../

[2018-11-29 16:35] apulverizer commented on #34
@kawikakanaka

Can you try using "Flush" as the Type instead of 2? Does that resolve it?

We changed the script to expect the string value of the assignment type, but looks like we may have missed updating a section of the readme doc for it.

[2018-11-29 17:10] kawikakanaka commented on #34
I tried:

xField,yField,Type,Location,Dispatcher,Description,Priority,WorkOrderId,DueDate,Attachment,Worker
4232820.809,289619.8689,Flush,Flush,1,Flush,None,1,01/31/2019,,1
4232820.809,289619.8689,Flush,Flush,1,Flush,None,2,01/31/2019,,1

And it returned the same error.  Do I need to add double quotes to the types?

[2018-11-29 17:32] kawikakanaka commented on #34
I forgot to mention that I'm working on the enterprise version of workforce, so I'm not sure if that might be a factor.

[2018-12-04 14:59] apulverizer commented on #34
@kawikakanaka The issue is in the Python API Module. I recently made an update and it appears to have caused a slight regression. We should be able to work around this in the script, I'll see if I can push a fix for it.

[2018-12-04 15:13] apulverizer commented on #34
@kawikakanaka I pushed a bug fix directly to the master branch. If you pull down the latest changes I believe it should work:

Test with:
[code]

[code]

Note the scripts currently expect the username of the worker/dispatcher (not the id). We changed this so you don't have look up the ids anymore.

[2018-12-04 16:45] kawikakanaka commented on #34
It's working now!  Thanks!  The only problem I had was that I couldn't use the same user as a dispatcher and a worker even though that user is added into the project under both categories.

[2018-12-04 17:07] apulverizer commented on #34
@kawikakanaka nice!

I can't reproduce the issue with the user being the same as the dispatcher though. Same CSV as above works for me using myself as the dispatcher and worker (also tried another user).

[2019-02-18 18:44] kangh opened #36 "Handle_json_error"
**Describe the bug**
[2019-02-18 09:39:26,326] [create_assignments_from_csv.py:  75 -                           main()]             [MainThread] [      root] [    INFO] Authenticating...
[2019-02-18 09:39:31,184] [                 connection.py:1173 -             _handle_json_error()]             [MainThread] [arcgis._im] [   ERROR] You do not have permissions to access this resource or perform th

[2019-02-19 13:18] apulverizer commented on #36
@kangh This error indicates to me that you don't have access to the specified item. This is the key error in  your stack trace:

Can you verify the item id for the project you specified is correct? And that the user you are authenticating with via the script can access that item?

[2019-02-19 18:14] kangh commented on #36
I had the wrong item id in my arguments. I am able to run the script successfully. Thank you very much.

[2019-02-19 18:15] #36 closed, assigned to nobody

[2019-02-21 19:35] GeoViz opened #37 "Type Error: 'NoneType' Object is not subscriptable"
**Describe the bug**
I am attempting to run the delete_assignments.py in order to delete assignments that have a status of Completed. When I pass in the parameters as outlined in the readme for the script I receive the Type Error: 'NoneType' Object is not subscriptable error.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Anaconda Prompt (run as administrator)
2. Enter in parameters:

[2019-02-21 19:45] GeoViz commented on #37
False alarm, I just saw the same issue already answered in the closed cases section. Solution: use the item id of the workforce project and not the assignment feature layer id.

[2019-02-21 19:45] #37 closed, assigned to nobody

[2019-04-10 16:17] kangh opened #38 "Authentication fails when using Enterprise login"
**Describe the bug**
Authentication fails when using Enterprise account. The Enterprise account is added as a dispatcher so the account has permissions on the project. It works if an ArcGIS Online login is used instead. I have tried the Enterprise email address and username for -u argument and it still fails. I don't see any additional arguments for enterprise account.

  python C:\temp\workforce-

[2019-04-10 16:53] apulverizer commented on #38
@kangh when you sign into ArcGIS Online, are you using SAML through some other identify provider?

[2019-04-10 17:00] kangh commented on #38
That is correct.

From: Aaron Pulver [mailto:notifications@github.com]
Sent: Wednesday, April 10, 2019 9:54 AM
To: Esri/workforce-scripts <workforce-scripts@noreply.github.com>
Cc: Kang, Harkeerat <Harkeerat.Kang@kingcounty.gov>; Mention <mention@noreply.github.com>
Subject: Re: [Esri/workforce-scripts] Authentication fails when using Enterprise login (#38)

@kangh<https://gcc01.safelinks.protecti

[2019-04-10 17:10] apulverizer commented on #38
These scripts will not support SAML out of the box

You'll have to do more work to authenticate with SAML. There is some information here: https://developers.arcgis.com/python/guide/working-with-different-authentication-schemes/#User-authentication-with-OAuth-2.0

[2019-04-10 17:14] kangh commented on #38
Thank you. I will take a look at the resource you provided.

From: Aaron Pulver [mailto:notifications@github.com]
Sent: Wednesday, April 10, 2019 10:11 AM
To: Esri/workforce-scripts <workforce-scripts@noreply.github.com>
Cc: Kang, Harkeerat <Harkeerat.Kang@kingcounty.gov>; Mention <mention@noreply.github.com>
Subject: Re: [Esri/workforce-scripts] Authentication fails when using Enterprise login (#

[2019-06-26 18:35] #38 closed, assigned to nobody

[2019-06-26 18:37] apulverizer commented on #34
Closing due to inactivity and because the original issue was resolved.

[2019-06-26 18:37] #34 closed, assigned to nobody

[2019-06-29 01:20] jfraver opened #40 "Unknown object [OBJ] causes export_assignments_to_csv.py script to fail"
**Describe the bug**
This script fails when it reaches an unknown object [OBJ] added to notes in Workforce. The object is not visible in Workforce, so inspectors are not sure what they do to cause the insertion of the [OBJ]. An object may be generated when the inspector saves a note while Workforce is "thinking" in dictation mode. For example, "Canceled by contractor" is what the inspector says, o

[2019-07-01 18:53] apulverizer commented on #40
Hi @jfraver Thanks for the detailed bug report. I can look into this but will need a feature layer that can reproduce this. My hunch is that this is a bug in the ArcGIS API for Python. If you are okay with it you, you can invite my AGOL username `aaron_nitro` to your projects group, then I can have access to the layer. If not, please follow up with an email to apulver@esri.com and we can try and s

[2019-07-01 19:04] jfraver commented on #40
Hi Aaron,

Thanks for your response. I just invited you to the Engineering
project, which is a test project. I own the assignment with the note
that has an object - Permit#: T18CM08778.

https://cotgis.maps.arcgis.com/home/item.html?id=fd4aea8e3fa749408052455bd0aca465

Jessica Fraver
GIS Data Analyst
City of Tucson
Information Technology Dept
GIS Services
520-837-6072
jessica.fraver@tucsonaz.gov

[2019-07-02 18:31] apulverizer commented on #40
Resolved offline by explicitly setting the encoding to `utf-8` when opening the file for writing. This is because the default encoding depends on the underlying system. Closing.

[2019-07-02 18:31] #40 closed, assigned to nobody

[2019-11-01 00:23] AviCueva opened #41 "Copy assignments does not copy feature service attachments"
**Is your feature request related to a problem? Please describe.**
When utilizing the copy_assignments_to_fs.py script attachments are not copied to the target feature service.

**Describe the solution you'd like**
Attachments if present should be copied over.

I was trying to utilize this script for archival purposes, without attachments copying over, I am not able to utilize this script.

[2019-11-06 13:10] apulverizer commented on #41
@AviCueva Can you try this branch?

~https://github.com/Esri/workforce-scripts/tree/feature/export-attachments~

[2019-11-06 13:33] apulverizer commented on #41
@AviCueva the script has been updated (in master branch), please try the latest.

[2019-11-14 17:40] AviCueva commented on #41
@apulverizer Thank you.  I can confirm the script works properly.

Let me know next time you're in Redlands, would love to buy you a beer!

[2019-11-14 17:40] #41 closed, assigned to nobody

[2020-02-04 14:37] robeisenrich opened #46 "Will assign assignments based on point features"
**Is your feature request related to a problem? Please describe.**
The script option for assigning assignments based on existing feature services will only work if that feature service is a point feature.

**Describe the solution you'd like**
I would like to be able to assign assignments to line and polygon features. For my use case, I want our field personnel to investigate all water utility asse

[2020-02-05 22:17] niravi commented on #46
Thanks for your feedback @robeisenrich - currently assignment geometry in Workforce contains point geometry, so making an assignment that has a line or a polygon would be a pretty large schema change. This is feedback we've received before and is not currently in the product plan. I think your workaround makes a lot of sense - how often is the line updated? We could perhaps look at optimizing your

[2020-02-27 20:02] niravi commented on #46
Closing for now

[2020-02-27 20:02] #46 closed, assigned to nobody

[2020-08-07 13:21] ming800 opened #70 "Exceptions on migrate_assignments.py"
**Describe the bug**
First time run migrate_assignments.py and two exceptions happened, both on "workforce.project" module.

on line 108, exception shows: 'Project' object has no attribute '_is_v2_project'.

Then, I changed to code to "if False:" and the exception happened on line 113:
migrate_assignments.py:  98 -        main()][MainThread] [root] [    INFO] Authenticating...
migrate_assignments.

[2020-08-07 13:46] ming800 commented on #70
It seams that my ArcGIS API is v 1.8.1 in stead of v 1.8.3+. However, when I open the Pro and try to update the package, it says the package is "up-to-date"!?

[2020-08-07 14:40] ming800 commented on #70
After updating the ArcGIS API for Python from v 1.8.1 to 1.8.3, it runs just fine!

[2020-08-07 15:17] #70 closed, assigned to nobody

[2020-08-27 18:15] langdonms opened #74 "AssignmentType shows GUID rather than text Alias in ArcGIS Pro"
**Describe the bug**
New Workforce Projects AssignmentType field values in the Assignment layer display the GUID value rather than a human readable text value when the feature service is displayed in ArcGIS Pro. I was hoping to use Append in Pro to migrate assignments from V1 to V2 but found this issue.

**To Reproduce**
Steps to reproduce the behavior:
1.  Migrate V1 to V2 project or create a new

[2020-08-27 18:16] langdonms commented on #74
Also, for automation, does the https://developers.arcgis.com/python/api-reference/arcgis.apps.workforce.html work with V2 projects?

[2020-08-27 18:32] apulverizer commented on #74
@langdonms This is because the assignment types are stored in a separate table and are not a coded value domain. This was an intentional decision to support assignment type changes when projects are offline and need to sync changes. There's no good way to resolve this in Pro unfortunately.

The referenced api does work but you need to use the 1.8.3 pre-release version of the ArcGIS API for Python

[2020-08-27 18:54] langdonms commented on #74
Thanks for the quick reply and explanation @apulverizer I had hoped to do an append with field mapping to migrate & load new assignments but I'll take a closer look at the migrate script then. 👍

Follow-up Q:
Do you need to be the owner of the project to perform the scripts or can any admin account work? I say this bc my main account is authenticated through our G-Suite which might be a pain to us

[2020-08-28 11:12] apulverizer commented on #74
@langdonms you need to be a dispatcher in the project in order to use the Workforce module in the Python API. You could add your admin user as a dispatcher to the project and then should be able to do everything.

[2020-09-01 17:26] langdonms opened #76 "Assignment Migration - Attachments Failing"
Running into a snag with migration, everything works except attachments. Is this an error on my end?

**Describe the bug**
Errors when migrating attachments: "Skipping migration of this attachment. It did not download successfully." Also "WinError 32 The process cannot access the file because it is being used by another process."

**To Reproduce**
Steps to reproduce the behavior:
1. I cloned my Ar

[2020-09-01 18:32] apulverizer commented on #74
Closing, feel free to re-open needed.

[2020-09-01 18:32] #74 closed, assigned to nobody

[2020-09-01 18:44] langdonms commented on #76
Happy to add you to our project if you would like to test with our data or let me know if I'm not following the right procedure and I'll adjust.

[2020-09-02 18:12] #76 closed, assigned to niravi

[2020-09-02 19:00] apulverizer commented on #76
@langdonms please pull that latest changes and try it. If it doesn't resolve it, you can re-open the issue.

[2020-09-02 19:11] langdonms commented on #76
Thanks @apulverizer  and @niravi ! I saw the update and reran with the new version. It worked without issues including attachments.

[code]
![image](https://user-images.githubusercontent.com/7000206/92026074-74147e00-ed2e-11ea-8549-bd3a6f8ae199.png)

[2020-09-08 17:01] swimhiking opened #78 "Automation needed features"
Hi there,

I am new to this workforce python scripts; I have several things need help:

- in the script, I found the string "Public Works Work Orders", I suppose it's an folder name in workforce website point to? Not sure how to create such a folder. If I don't have a folder, how I reference an existing workforce project like classic project?

- Since I don't have folder name, so I try to run foll

[2020-09-08 20:19] swimhiking commented on #78
The reason is I used the old version of arcgis package, it need use 1.8.3 version; All works now. Thanks

[2020-09-08 20:19] #78 closed, assigned to nobody

[2020-09-25 16:47] bkaplan1 opened #80 "Do scripts work with New WorkForce?"
**Describe the bug**
I created a new WorkForce project at workforce.arcgis.com.

From within ArcGIS Online, using Notebooks.....
In script 1, I connect to the organization using the same account used to create a WorkForce Project.

The following code does not list any New WorkForce projects.  I do see classic WorkForce Projects
item = gis.content.search("type:'Workforce Project' '*'")

I also try

[2020-09-25 17:18] apulverizer commented on #80
@bkaplan1 for classic projects, you use the item id of Workforce Project. For offline enabled projects you need the feature service item id. To find offline enabled projects, use a search query like `type:"Feature Service" AND typekeywords:"Workforce Project"`

[2020-09-26 03:59] bkaplan1 commented on #80
@Arron Thank you for your reply.    I tried type:"Feature Service" AND typekeywords:"Workforce Project" in AGO Assistant and the response is only Feature Service (Hosted).

As I wasn't sure where I should apply this query, I also looked at it using it in via the python API inside AGO notebook but the search object

item = gis.content.search(query= "owner:" + gis.users.me.username, item_type='Featu

[2020-09-27 00:30] apulverizer commented on #80
@bkaplan1 you can just directly use the parameters in the query parameter, the method parameters are just helpers. For example:

[code]

Should return all of the offline enabled workforce project items.

[2020-09-29 16:08] bkaplan1 commented on #80
Thanks for you example.  I’m still at a roadblock.

The types of items I get returned from
items = gis.content.search(f'type:"Feature Service" AND typekeywords:"Workforce Project" AND owner:{gis.users.me.username}')

are Feature Layer Collection

Can I query a Feature Layer Collection for

  *   Worker and Dispatchers
  *   Assignments
  *   Integrations
As shown here
https://developers.arcgis.com

[2020-09-29 17:21] apulverizer commented on #80
@bkaplan1

This should work, can you check the version of the api you are using:
[code]

[2020-09-29 17:27] bkaplan1 commented on #80
I’m using ArcGIS Online notebooks which identify as version 1.8.1.

Brian Kaplan

Environmental Health Scientist/Geographer
Geospatial Research, Analysis, and Services Program (GRASP)
bkaplan@cdc.gov<mailto:bkaplan@cdc.gov> | Phone: 770.488.3823 | Cell: 404.316.9154 | Fax: 404.488.4566

From: Aaron Pulver <notifications@github.com>
Sent: Tuesday, September 29, 2020 1:22 PM
To: Esri/workforce-scrip

[2020-09-29 17:33] apulverizer commented on #80
Okay, you need to update the arcgis library to 1.8.3 pre-release when running in the hosted notebook.
An example is hosted here (notice the top commented out block): https://www.arcgis.com/home/item.html?id=f0488d21719f4decafe317670a56204a#preview

There a multiple examples hosted:
https://www.arcgis.com/home/group.html?id=c1695c0c2f9945a8a7fee7dd106c74ae#overview

[2020-09-29 21:17] bkaplan1 commented on #80
Thanks.  My bad.   I saw some reference to 1.8.3 earlier but assumed that the ArcGIS Online Notebooks were using an appropriate version.

So I got 1.8.3 running on my local machine.  Thank you very much.

However, I’m having another problem I hope you can help me with.

When logging in with a OAuth2 Approval method and running

offline_project = arcgis.apps.workforce.Project(items[1])

I get this

[2020-10-03 00:45] apulverizer commented on #80
@bkaplan1 I dug into this and believe it's a bug in the underlying ArcGIS API for Python. I've opened an internal bug for it.

[2020-10-05 12:52] apulverizer commented on #80
@bkaplan1 the authentication issue using OAuth should be resolved in the next update of the Python API. The `workforce.Project` uses the items gis which should already be using the token. The bug was that some POST requests (when using the OAuth workflow) were not correctly setting the token in the header. I don't think there is any workaround.

I'm closing this since the original issue was resolv

[2020-10-05 12:52] #80 closed, assigned to nobody

[2020-11-07 16:03] apulverizer opened #82 "Export assignment to CSV is still using arrow instead of pendulum"
**Describe the bug**
The script can't run if using the default environment.yml file since `arrow` was removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the environment using the yml file
2. Run export_assignments_to_csv.py script

**Expected behavior**
It should be using `pendulum` but looks like we missed updating this script script.

**Desktop (please complete the following

[2020-12-18 15:22] LPowell-GIS opened #83 "Cannot execute create_assignments_from_csv due to Type error"
**Describe the bug**
I am attempting to execute the above script but it fails on the Assignment Type field as follows:

Traceback (most recent call last): |   File "create_assignments_from_csv.py", line 233, in <module> |     main(args) |   File "create_assignments_from_csv.py", line 119, in main |     assignment_type=assignment_type_dict[assignment[args.assignment_type_field]], | KeyError: 'Type'

[2020-12-18 15:34] apulverizer commented on #83
Hi @LPowell-GIS

The error seems to indicate that your CSV file does not have a `Type` column. The script is case and white-space sensitive for the column names. Can you check your file?

[2020-12-18 15:39] LPowell-GIS commented on #83
Hey Aaron,

Thanks for getting back to me.

As per initial post, Type is first column. I'm skipping X/Y to use the Geocoding capability.

Lee

[2020-12-18 15:52] apulverizer commented on #83
@LPowell-GIS I can't reproduce the issue. I copied the text you posted above and just changed the worker name:

[test.csv.zip](https://github.com/Esri/workforce-scripts/files/5716656/test.csv.zip)

It worked fine for me. Can you attach the actual CSV file?

[2020-12-18 15:58] LPowell-GIS commented on #83
Hey Aaron,

Your csv works, despite looking no different from mine. Strange.

Thanks for your help and the great script.

Lee

[2020-12-18 15:58] #83 closed, assigned to nobody

[2020-12-18 16:42] #82 closed, assigned to niravi

[2021-01-11 21:59] r3cyclops opened #87 "Can't Assign Work: ValidationError: Assignment must have geometry"
**Describe the bug**
I can create assignments but when I go to assign the assignments to a specific user I get this error: ValidationError: Assignment must have geometry

**To Reproduce**
Here's my code:

user = project.workers.get(user_id="username")
test_backflows = project.assignment_types.get(name="Test Backflow Device")
assignments = project.assignments.search(f"status=0 AND assignmentType={t

[2021-01-12 00:00] apulverizer commented on #87
@cgens how are you creating assignments?

[2021-01-12 16:02] r3cyclops commented on #87
@apulverizer I'm creating them based off an existing map service. I could assign work for a couple iterations and then it started throwing the ValidationError. Here's my code:

for _, row in backflow_df.iterrows():
    backflow_assignments.append(
        workforce.Assignment(
            project,
            geometry=row["SHAPE"],
            location=row["Address"],
            description=row["

[2021-01-12 16:17] apulverizer commented on #87
@cgens it's hard to say exactly what the problem is. My guess is that there is some feature in the dataframe that does not have a geometry so `row["SHAPE"]` is returning `None` which is then not setting a geometry for that assignment. When you call `batch_add` it validates each assignment object and the one that has `None` geometry is raising the validation exception.

It might be useful to print

[2021-01-12 16:58] r3cyclops commented on #87
@apulverizer That was it! Thank you.

[2021-01-12 16:58] #87 closed, assigned to nobody

[2021-01-20 19:22] kawikakanaka opened #88 "assignementread field doesn't exist"
I received the following error when running the migrate_assignments.py script:

"... Exception: The submitted field 'assignmentread' does not exist in the table 'db_ugnsv.hsu_ao66g.workforce_b_cc64467abc4e3b9fd14283_assignments'. | (Error Code: 500) |"

My classic project had that field, as an integer field, so I simply added it to the V2 project and the script ran successfully.  I didn't see this

[2021-01-27 18:07] #88 closed, assigned to niravi

[2021-01-27 18:08] niravi commented on #88
Thanks for reporting @kawikakanaka - I have pushed a fix to the migration scripts

[2021-12-02 06:09] fatihenesusta opened #97 "Getting KeyError as "assignments" when using workforce with geoprocessing tool."
Hello,

I created a toolbox that works in local server but i could not make it work as a geoprocessing service.

My idea is that i want to be able to reach to workforce through using ArcGIS API and want to make operations over there by using the tool i created. It works without a problem on the ArcGIS Pro, but when i publish it as a geoprocessing device i get the following error.

Traceback (most

[2021-12-02 14:33] apulverizer commented on #97
I've seen this before if you specify the wrong item id when getting the item/project. Like if you specify the assignment layer item id when using a Workforce Classic Project instead of the Project item id. For the V2 (offline projects) you need to use the item id of the assignment feature layer.

[2021-12-03 07:58] fatihenesusta commented on #97
I actually saw your reply about it over here [https://github.com/Esri/workforce-scripts/issues/32](url)
I tried using workforce project id and as well as the assignment layer id but there still no luck. I tried to copy the ArcGISPro / apps / workforce folder to the ArcGISServer / apps / workforce it worked, but it was really slow and it server started to fail so i changed the folder back to the or

[2021-12-03 14:09] apulverizer commented on #97
@fatihenesusta yeah I suspect ArcGIS Pro may be using a newer version of the Python API than what ArcGIS Server is using. I don't know if you can do anything about it on the server to upgrade (I'm guessing it's not supported).

[2021-12-03 14:40] apulverizer commented on #97
Actually this should be possible if you follow the instructions here: https://enterprise.arcgis.com/en/server/latest/publish-services/windows/deploying-custom-python-packages.htm

[2021-12-06 08:29] fatihenesusta commented on #97
I will try this and keep you posted.

Thank you very much.

[2021-12-21 08:32] fatihenesusta commented on #97
Hey, we can close this issue. I was able to upgrade to server to the latest version and i can access to the workforce.

Thanks.

[2021-12-21 08:32] #97 closed, assigned to nobody

[2022-02-11 14:10] fatihenesusta opened #98 "Not letting worker finish assignment if worker is not nearby assignment"
**If a worker is not nearby a mission worker still can finish the mission. If you have let's say 500 worker in a project it won't be easy to track down which missions are correctly completed.*

It is not easy to track down a lot of workers. We have a workforce project fully integrated with many other arcgis platforms such as dashboard and collector. If a worker completes the mission without being

[2022-02-11 15:07] crai3162 commented on #98
Hello and thanks for your question.

This is a request we've gotten before but not often so it is not on our roadmap to address. I'd suggest posting it to the ArcGIS Ideas site or looking for another post similar to this that you can add your request to.

A couple questions related to your request though:
1. Is the distance straight line distance?  Or should it consider drivetime?
2. Is the distan

[2022-02-12 14:00] fatihenesusta commented on #98
Hello thanks for replying.

1) I think the distance should be a some sort of circle so if a worker inside of that circle, worker should be able to to finish the assignment.
2) It should work per assignment since workers are assigned to assignments. But you have a point over there if a assignment is on a road for example then it does not make sense. So we can fix it by putting an extra parameter wh

[2022-02-22 15:08] mvacoyote opened #99 "Optimally Creating and Assigning Work Orders Based on Routes"
Hello,
In the **'Optimally Creating and Assigning Work Orders Based on Routes'** notebook there is the following code:

[code]

I think the line **workers.remove(worker)** should be removed because then in **assignments_to_add.append()** the **worker=worker** will give an error of empty list. Am I wrong?

Thanks

[2022-02-22 15:33] apulverizer commented on #99
@MVAC13 In the example, we create the same number or routes as workers.

[code]

We then iterate over each route and select a worker, and remove that worker from the possible list of workers to chose (so that a worker only is assigned one route). Then for each stop in the route we create an assignment and assign it to the selected worker.

Then after all assignments for all routes have been create

[2022-02-23 10:45] mvacoyote commented on #99
It does explain it. Thanks!

[2022-03-16 14:53] MVAC13 commented on #99
I have another question (it's not an issue tho). How could I select a worker in order instead of using random.choice()? I want to pick one in order as shown in the list.

[2022-04-26 00:21] DRichey-LCDC opened #100 "Service name already exists; misreported error, perhaps '&'"
When trying to run script create_joined_view.py I receive the error

[CRITICAL] Traceback (most recent call last): |   File "create_joined_view.py", line 457, in <module> |     main(args) |   File "create_joined_view.py", line 360, in main |     assignment_type_fields) |   File "create_joined_view.py", line 231, in create_joined_view |     "name": f"{name}" |   File "C:\Program Files\ArcGIS\Pro\bi

[2022-04-27 01:03] apulverizer commented on #100
@DRichey-LCDC I can reproduce this and agree with your conclusions that the `&` is causing the issue. As a temporary workaround, you can modify lines 351, 360, 370, and 382 to use `project.title.replace('&','')` instead of `project.title`.

Perhaps the service name needs to be urlencoded or something, I'll have to look into it more. Let me know if the workaround is okay for now.

[2022-04-27 16:48] #100 closed, assigned to apulverizer

[2022-04-27 16:49] apulverizer commented on #100
I pushed a commit to the `master` branch that should resolve this.

[2022-04-27 18:08] DRichey-LCDC commented on #100
Thank you, I appreciate it greatly. I had tried making the changes you suggested, but still received the error. Again, much appreciated. David

From: Aaron Pulver ***@***.***>
Sent: Wednesday, April 27, 2022 9:50 AM
To: Esri/workforce-scripts ***@***.***>
Cc: DRichey-LCDC ***@***.***>; Mention ***@***.***>
Subject: Re: [Esri/workforce-scripts] Service name already exists; misreported error, perhap